# Gradle
.gradle
build/
!build/libs/

# IDE files
.idea/
*.iml

# Heap dumps
*.hprof
*.iws
.project
.classpath
.settings

# Local properties
local.properties

# Log files
*.log

# Windows thumbnail cache
Thumbs.db

# Other
*.bak
*~
*.swp
*.orig
/.kotlin/sessions/kotlin-compiler-1649344669481521795.salive
/backup.ps1
/project_backup_full_2025-11-12_04-49-09.txt
/project_backup_full_2025-11-12_07-24-56.txt
