# Gradle
.gradle
build/
!build/libs/

# IDE files
.idea/
*.iml
*.iws
.project
.classpath
.settings

# Local properties
local.properties

# Log files
*.log

# Windows thumbnail cache
Thumbs.db

# Other
*.bak
*~
*.swp
*.orig
